html {
  background-color: cadetblue;
}
.Login-Wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
}

.formgroup {
  margin: 25px 0px;
  border: 2px solid red;
}

#name,
#email,
#password,
#login {
  height: 7vh;
  width: stretch;
  min-height: 50px;
  min-width: 200px;
  text-align: left;
  font-size: 26px;
}

span {
  display: inline-block;
  margin-top: 10px;
}

#login {
  text-align: center;
  background-color: chartreuse;
}
