html {
  display: flex;
  background-color: cadetblue;
  align-items: center;
  justify-content: center;
}
.Login-Wrapper {
  display: flex;
  height: 480px;
  width: 460px;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
  margin: 23vh 0;
}

.formgroup {
  margin: 25px 0px;
}

#name,
#email,
#password,
#login {
  max-height: 7vh;
  width: stretch;
  min-height: 50px;
  min-width: 200px;
  text-align: left;
  font-size: 26px;
  border-radius: 10px;
}

.Forgot-Password {
  display: inline-block;
  margin-top: 8px;
  margin-left: 2px;
}

#login {
  text-align: center;
  background-color: chartreuse;
}

.New-Here {
  margin-top: 10px;
  text-align: center;
  display: block;
}
