* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

html {
  display: flex;
  background-color: #34353b;
  align-items: center;
  justify-content: center;
}

.Login-Wrapper {
  background-color: aliceblue;
  display: flex;
  height: 480px;
  width: 460px;
  justify-content: center;
  align-items: center;
  margin: 28vh 0;
  background-image: linear-gradient(
    to bottom right,
    hsl(113, 93%, 48%),
    #fe4880
  );
}

.Login-Form {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 36px 21px;
  z-index: 1;
}

.formgroup {
  margin: 25px 0px;
}

#name,
#email,
#password,
#login {
  max-height: 7vh;
  width: stretch;
  min-height: 50px;
  min-width: 276px;
  text-align: left;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 20px;
}

.Forgot-Password {
  display: inline-block;
  margin-top: 8px;
  margin-left: 2px;
}

#login {
  text-align: center;
  background-color: #43d41a;
  font-size: 26px;
  padding-left: 0;
}

.New-Here {
  margin-top: 10px;
  text-align: center;
  display: block;
}

.error-wrapper {
  display: inline-block;
  height: 14px;
}

.error {
  color: red;
}
