.RecipeNavWrapper {
  border: 1px solid red;
}

.RecipeNavInner {
  width: 500px;
  height: 70px;
}

.RecipeNavInner button {
  font-size: 1.75rem;
  border: 1px solid green;
  border-radius: 7px;
  margin-top: 20px;
  height: 30px;
  width: 75px;
  background-image: linear-gradient(to right, #43d41a, #43d41a, #fe4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  cursor: pointer;
}

.RecipeNavInner button:hover {
  background-position: 100% 0%;
}

#recipeBack {
  float: left;
}

#recipeForward {
  float: right;
}
